pkgbase = immich
	pkgdesc = Self-hosted photos and videos backup tool
	pkgver = 1.132.3
	pkgrel = 1
	url = https://github.com/immich-app/immich
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = npm
	makedepends = jq
	makedepends = uv
	makedepends = ts-node
	depends = redis
	depends = postgresql
	depends = nodejs>=20
	depends = python312
	depends = pgvecto.rs<0.4.0
	depends = zlib
	depends = glib2
	depends = expat
	depends = librsvg
	depends = libexif
	depends = libwebp
	depends = libjpeg-turbo
	depends = libgsf
	depends = libpng
	depends = libheif
	depends = lcms2
	depends = mimalloc
	depends = openjpeg2
	depends = openexr
	depends = liblqr
	depends = libtool
	depends = jellyfin-ffmpeg
	depends = libvips>=8.14.3
	depends = openslide
	depends = poppler-glib
	depends = imagemagick
	depends = brotli
	depends = perl-io-compress-brotli
	depends = libraw
	depends = libde265
	depends = dav1d
	depends = highway
	source = immich-1.132.3.tar.gz::https://github.com/immich-app/immich/archive/refs/tags/v1.132.3.tar.gz
	source = base-images::git+https://github.com/immich-app/base-images
	source = immich-server.service
	source = immich-machine-learning.service
	source = immich.sysusers
	source = immich.tmpfiles
	source = immich.conf
	source = nginx.immich.conf
	source = https://download.geonames.org/export/dump/cities500.zip
	source = https://download.geonames.org/export/dump/admin1CodesASCII.txt
	source = https://download.geonames.org/export/dump/admin2Codes.txt
	source = https://raw.githubusercontent.com/nvkelso/natural-earth-vector/v5.1.2/geojson/ne_10m_admin_0_countries.geojson
	sha256sums = eb07a3ce3fd4b3f1cd3d9cbed9c17227a07a41846629aec2426be338c106aa4f
	sha256sums = SKIP
	sha256sums = 48ba0c1716e4459322f878775bd37d9f8efe80b9c8a830bdb901ee4cba15a402
	sha256sums = 6e81b02943472ae3dab427b388cc1c43b7a42af82b1f0edd5e8b55114ff3db01
	sha256sums = 01707746e8718fe169b729b7b3d9e26e870bf2dbc4d1f6cdc7ed7d3839e92c0e
	sha256sums = 4ae8a73ccbef568b7841dbdfe9b9d8a76fa78db00051317b6313a6a50a66c900
	sha256sums = 077b85d692df4625300a785eed1efdc7af8fbb8e05dfa8c7d8b4053c1eb76a58
	sha256sums = 28081014a8c410010df22e979c49c3af4a49815e2c6e4ee6090206e2381a56c6
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = immich-server
	install = immich-server.install
	depends = redis
	depends = postgresql
	depends = nodejs>=20
	depends = python312
	depends = pgvecto.rs<0.4.0
	depends = zlib
	depends = glib2
	depends = expat
	depends = librsvg
	depends = libexif
	depends = libwebp
	depends = libjpeg-turbo
	depends = libgsf
	depends = libpng
	depends = libheif
	depends = lcms2
	depends = mimalloc
	depends = openjpeg2
	depends = openexr
	depends = liblqr
	depends = libtool
	depends = jellyfin-ffmpeg
	depends = libvips>=8.14.3
	depends = openslide
	depends = poppler-glib
	depends = imagemagick
	depends = libraw
	depends = libde265
	depends = dav1d
	depends = brotli
	depends = perl-io-compress-brotli
	depends = highway
	optdepends = libva-mesa-driver: GPU acceleration
	optdepends = mesa-utils: GPU acceleration
	optdepends = vulkan-driver: Vulkan support
	optdepends = nginx: Reverse proxy
	optdepends = intel-compute-runtime: OpenCL support
	optdepends = intel-media-driver: HW acceleration
	conflicts = immich
	replaces = immich
	options = !strip
	backup = etc/immich.conf

pkgname = immich-cli
	depends = nodejs>=20
