pkgbase = immich
	pkgdesc = Self-hosted photos and videos backup tool
	pkgver = 1.109.2
	pkgrel = 6
	url = https://github.com/immich-app/immich
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = npm
	makedepends = jq
	makedepends = python-poetry
	makedepends = ts-node
	depends = redis
	depends = postgresql
	depends = nodejs
	depends = pgvecto.rs=0.2.0
	depends = zlib
	depends = glib2
	depends = expat
	depends = librsvg
	depends = libexif
	depends = libwebp
	depends = libjpeg-turbo
	depends = libgsf
	depends = libpng
	depends = libjxl
	depends = libheif
	depends = lcms2
	depends = mimalloc
	depends = openjpeg2
	depends = openexr
	depends = liblqr
	depends = libtool
	depends = ffmpeg
	depends = libvips>=8.14.3
	depends = openslide
	depends = poppler-glib
	depends = imagemagick
	depends = libraw
	depends = perl-net-ssleay
	depends = perl-io-socket-ssl
	depends = perl-capture-tiny
	depends = perl-file-which
	depends = perl-file-chdir
	depends = perl-pkgconfig
	depends = perl-ffi-checklib
	depends = perl-test-warnings
	depends = perl-test-fatal
	depends = perl-test-needs
	depends = perl-test2-suite
	depends = perl-sort-versions
	depends = perl-path-tiny
	depends = perl-try-tiny
	depends = perl-term-table
	depends = perl-uri
	depends = perl-mojolicious
	depends = perl-file-slurper
	depends = libde265
	depends = dav1d
	source = immich-1.109.2.tar.gz::https://github.com/immich-app/immich/archive/refs/tags/v1.109.2.tar.gz
	source = base-images::git+https://github.com/immich-app/base-images
	source = immich-server.service
	source = immich-microservices.service
	source = immich-machine-learning.service
	source = immich.sysusers
	source = immich.tmpfiles
	source = immich.conf
	source = nginx.immich.conf
	source = media.ts.patch
	source = https://download.geonames.org/export/dump/cities500.zip
	source = https://download.geonames.org/export/dump/admin1CodesASCII.txt
	source = https://download.geonames.org/export/dump/admin2Codes.txt
	sha256sums = c45bed3fa510d51df6e31e7bbf06bda3413aa4ef751d9c6d7596ffc49b921459
	sha256sums = SKIP
	sha256sums = 17cb64654e8003dae2d69e523509be6a242d9eafb3a1445814a5cef232ba71fa
	sha256sums = afd1a11b527f8a56dcf55f517737b7b715dd187953d9bb1a5bc439968ce41c61
	sha256sums = 637e886cfb5a47834560b00158affe1e218a84e3f825d28d2640c10d2d597ef1
	sha256sums = 01707746e8718fe169b729b7b3d9e26e870bf2dbc4d1f6cdc7ed7d3839e92c0e
	sha256sums = 4ae8a73ccbef568b7841dbdfe9b9d8a76fa78db00051317b6313a6a50a66c900
	sha256sums = 077b85d692df4625300a785eed1efdc7af8fbb8e05dfa8c7d8b4053c1eb76a58
	sha256sums = cc405c774e34cd161f00ccd882e66c2d2ce28405964bf62472ebc3f59d642060
	sha256sums = 7f9eb5503f61f77aaa14d93c7531dbb96fc2805484eb5b35464bb63bd0f544bc
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = immich-server
	install = immich-server.install
	depends = redis
	depends = postgresql
	depends = nodejs
	depends = pgvecto.rs=0.2.0
	depends = zlib
	depends = glib2
	depends = expat
	depends = librsvg
	depends = libexif
	depends = libwebp
	depends = libjpeg-turbo
	depends = libgsf
	depends = libpng
	depends = libjxl
	depends = libheif
	depends = lcms2
	depends = mimalloc
	depends = openjpeg2
	depends = openexr
	depends = liblqr
	depends = libtool
	depends = ffmpeg
	depends = libvips>=8.14.3
	depends = openslide
	depends = poppler-glib
	depends = imagemagick
	depends = libraw
	depends = perl-net-ssleay
	depends = perl-io-socket-ssl
	depends = perl-capture-tiny
	depends = perl-file-which
	depends = perl-file-chdir
	depends = perl-pkgconfig
	depends = perl-ffi-checklib
	depends = perl-test-warnings
	depends = perl-test-fatal
	depends = perl-test-needs
	depends = perl-test2-suite
	depends = perl-sort-versions
	depends = perl-path-tiny
	depends = perl-try-tiny
	depends = perl-term-table
	depends = perl-uri
	depends = perl-mojolicious
	depends = perl-file-slurper
	depends = libde265
	depends = dav1d
	optdepends = libva-mesa-driver: GPU acceleration
	optdepends = mesa-utils: GPU acceleration
	optdepends = vulkan-driver: Vulkan support
	optdepends = nginx: Reverse proxy
	optdepends = intel-compute-runtime: OpenCL support
	optdepends = intel-media-driver: HW acceleration
	conflicts = immich
	replaces = immich
	options = !strip
	backup = etc/immich.conf

pkgname = immich-cli
	depends = nodejs
